.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
#slider {
  height: 600px;
  width: 100%;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

#slideNav {
  width: 100%;
  position: relative;
  top: -325px;
  display: flex;
  justify-content: space-between;

}

#slideNav .b1 {
  font-size: 50px;
  color: white;
}

#previousControl {
  position: absolute;
  left: 50px;
  bottom: -20px;
  cursor: pointer;
}

#nextControl {
  position: absolute;
  right: 50px;
  bottom: -20px;
  cursor: pointer;
}
.slideOverlay {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px 60px;
    color: #fff;
  }

  .slideItem {
    background-size: cover;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    height: 600px;
  }
  @-webkit-keyframes slideIn {
   100% { left: 0; }
  }

  @keyframes slideIn {
   100% { left: 0; }
  }

  .slideInRight {
      left: -100%;
      -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
  }

  .slideInLeft {
      left: 100%;
      -webkit-animation: slideIn 1s forwards;
   animation: slideIn 1s forwards;
  }

  @-webkit-keyframes slideOutLeft {
   100% { left: -100%; }
  }

  @keyframes slideOutLeft {
   100% { left: -100%; }
  }

  .slideOutLeft {
      -webkit-animation: slideOutLeft 1s forwards;
   animation: slideOutLeft 1s forwards;
  }

  @-webkit-keyframes slideOutRight {
   100% { left: 100%; }
  }

  @keyframes slideOutRight {
   100% { left: 100%; }
  }

  .slideOutRight {
      -webkit-animation: slideOutRight 1s forwards;
   animation: slideOutRight 1s forwards;
  }
  .loading {
    text-align: center;
    color:  red;
  }
  .post_title {
    margin-bottom: 40px;
    font-size: 3em;
  }
  .post_content {
   font-size: 25px;
  }
  .post_time {
    color: teal;
    font-size: 17px;
  }